extends layout

block content
	div.panel.panel-default.command-tree
		div.panel-heading
			if (lastcommit)
				div.ellipsis= lastcommit.message
				div.row
					div.col-xs-9(title=lastcommit.person_email) #{lastcommit.person_name} authored 
						time.js-time(datetime=lastcommit.dateFormatted)= lastcommit.date
					div.col-xs-3.text-right latest commit #{lastcommit.hash.slice(0, 10)}
		div.panel-body
			if (isImg)
				img(src=commandUrl('raw', blobPath))
			else if (isMarked)
				!{blob}
			else
				pre(class=extension ? "line-numbers" : undefined)
					code(class=extension ? 'language-' + extension : undefined)= blob