extends layout

block content
	each day in days
		div.panel.panel-default.command-commits
			div.panel-heading= day.date
			div.panel-body
				ul.list-unstyled
					each commit in day.commits
						li
							div
								a(href=commandUrl('commit', '', commit.hash))= commit.message
							div 
								strong= commit.person_name
								|  authored
								time.js-time(datetime=commit.dateFormatted)
							div.actions
								a.btn.btn-info.hash(href=commandUrl('commit', '', commit.hash)) #{commit.hash.slice(0, 10)} 
									span.glyphicon.glyphicon-forward
								br
								a(href=commandUrl(type || 'tree', blobPath, commit.hash)) Browse code 
									span.glyphicon.glyphicon-forward
	div.text-center
		ul.pagination.pagination-lg
			li(class=current === 1 ? 'disabled' : undefined)
				a(href=url + (current < 3 ? '' : '?page=' + (current - 1))) &larr;
			each page in pages
				li(class=current === page ? 'active' : undefined)
					a(href=url + (page === 1 ? '' : '?page=' + page))= page
			li(class=current === pages.length || pages.length === 0 ? 'disabled' : undefined)
				a(href=url + '?page=' + (current === pages.length ? current : current + 1)) &rarr;