doctype 5
html(lang="en")
	head
		title= site.sitename
		link(rel="icon",type="image/png",href="/img/fav-icon.png")
		link(rel="stylesheet",href="http://fonts.googleapis.com/css?family=Titillium+Web:600italic")
		link(rel="stylesheet",href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css")
		link(rel="stylesheet",href="/css/prism.css")
		link(rel="stylesheet",href="/css/git-hoist.css")

		block header
	body
		nav.navbar.navbar-default.navbar-static-top(role="navigation")
			div.container
				div.navbar-header
					a.navbar-brand(href="/")= site.sitename
					
				div.collapse.navbar-collapse
					p.navbar-text.navbar-right Rendered in #{renderTimeSpan} ms

		div.container
			if (repo)
				h2= repo

				if (command !== 'commit')
					ol.breadcrumb
						li
							div.btn-group
								button.btn.btn-default.dropdown-toggle(type="button",data-toggle="dropdown")
									span branch: 
									span(style="margin: 0 5px;")= branch 
									span.caret
								ul.dropdown-menu
									li
										each item in branches
											a(href=commandUrl('tree', blobPath, item))
												span(class=(branch === item ? "glyphicon glyphicon-check" : "glyphicon"))
												|  #{item}
						li.no-slash
							a(href=commandUrl('tree', '/'))= repo
						each trailDef, name in trails
							if (trailDef.last)
								li.active= trailDef.name
							else
								li
									a(href=commandUrl('tree', name))= trailDef.name
						if (command !== 'commits')
							li.pull-right.no-slash
								a(href=commandUrl('commits', blobPath))
									span.glyphicon.glyphicon-list
									|  History
			block content

		script(src="//code.jquery.com/jquery-1.10.2.min.js")
		script(src="/js/prism.js")
		script(src="/js/git-hoist.js")