doctype 5
html(lang="en")
	head
		title= site.sitename
		link(rel="icon",type="image/png",href="/img/fav-icon.png")
		link(rel="stylesheet",href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css")
		link(rel="stylesheet",href="/css/prism.css")
		link(rel="stylesheet",href="/css/git-hoist.css")

		block header
	body
		nav.navbar.navbar-default.navbar-static-top(role="navigation")
			div.container
				div.navbar-header
					a.navbar-brand(href="/")
						img(src="/img/fav-icon.png")
						span  #{site.sitename}
					
				div.collapse.navbar-collapse
					p.navbar-text.navbar-right Rendered in #{renderTimeSpan} ms

		div.container
			if (repo)
				h2= repo

				ol.breadcrumb
					li
						div.btn-group
							button.btn.btn-default.dropdown-toggle(type="button",data-toggle="dropdown")
								span branch: 
								span master 
								span.caret
							ul.dropdown-menu
								li
									a(href="") Link
					li.no-slash
						a(href=commandUrl('tree', '/'))= repo
					each trailDef, name in trails
						if (trailDef.last)
							li.active= trailDef.name
						else
							li
								a(href=commandUrl('tree', name))= trailDef.name
					if (command !== 'commits' && command !== 'commit')
						li.pull-right.no-slash
							a(href=commandUrl('commits', blobPath))
								span.glyphicon.glyphicon-list
								|  History
			block content

		script(src="//code.jquery.com/jquery-1.10.2.min.js")
		script(src="/js/prism.js")
		script(src="/js/git-hoist.js")