extends layout

block content
	div.panel.panel-default.command-tree
		div.panel-heading
			if (lastcommit)
				div.ellipsis= lastcommit.message
				div.row
					div.col-xs-6(title=lastcommit.person_email) #{lastcommit.person_name} authored 
						time.js-time(datetime=lastcommit.dateFormatted)= lastcommit.date
					div.col-xs-6.text-right
						span latest commit 
						a.hash(href=commandUrl('commit', '', lastcommit.hash))= lastcommit.hash.slice(0, 10)
			else if (emptyRepo)
				div.ellipsis This is an empty repository
		div.panel-commits
			if (emptyRepo)
				div.row.form-horizontal.empty-repo
					label.col-xs-2.control-label Repository clone URL
					div.input-group.col-xs-6.clone-selector
						span.input-group-btn
							button.btn.btn-default.active(type="button",data-path=resolveUrl('/' + repo)) HTTP
							button.btn.btn-default(type="button",data-path=sshRemotePrefix + ':' + repo) SSH
						input.form-control(type="text",readonly)
			else
				ul.list-unstyled
					if (parentPath)
						li.row
							div.col-xs-12
								span.glyphicon
								a(href=commandUrl('tree', parentPath),title="Go to parent directory") ..
					each item in tree
						li.row
							div.col-xs-3.ellipsis
								span(class="glyphicon glyphicon-" + (item.type === 'tree' ? 'folder-close' : 'file'))
								|  
								a(href=commandUrl(item.type, item.file),title=item.name)= item.name
							div.col-xs-7.ellipsis(title=item.lastcommit && item.lastcommit.message)= (item.lastcommit && item.lastcommit.message)
							div.col-xs-2.text-right
								if (item.lastcommit)
									time.js-time(datetime=item.lastcommit.dateFormatted)= item.lastcommit.date

	if (readme)
		div.panel.panel-default.command-tree
			div.panel-heading REAME.md
			div.panel-body !{readme}
	else if (readme === false)
		div.alert.alert-info
			| Unable to find 
			strong REAME.md 
			| for this repo