extends layout

block content
	div.panel.panel-default.command-tree
		div.panel-heading
			if (lastcommit)
				div.ellipsis= lastcommit.message
				div.row
					div.col-xs-9(title=lastcommit.person_email) #{lastcommit.person_name} authored 
						time.js-time(datetime=lastcommit.dateFormatted)= lastcommit.date
					div.col-xs-3.text-right latest commit #{lastcommit.hash.slice(0, 10)}
		div.panel-body
			ul.list-unstyled
				if (parentPath)
					li
						a(href=commandUrl('tree', parentPath)) ..
				each item in tree
					li.row
						div.col-xs-3.ellipsis
							span(class="glyphicon glyphicon-" + (item.type === 'tree' ? 'folder-close' : 'file'))
							|  
							a(href=commandUrl(item.type, item.file))= item.name
						div.col-xs-7.ellipsis= (item.lastcommit && item.lastcommit.message)
						div.col-xs-2.text-right
							if (item.lastcommit)
								time.js-time(datetime=item.lastcommit.dateFormatted)= item.lastcommit.date

	if (readme)
		div.panel.panel-default.command-tree
			div.panel-heading REAME.md
			div.panel-body !{readme}